<link rel="stylesheet" type="text/css" href="vendor/virtual_select/virtual-select.min.css"></link>
<script src="vendor/virtual_select/virtual-select.min.js"></script>
<script src="vendor/jquery/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="vendor/multi-select-tag/css/multi-select-tag.css">
<script src="vendor/multi-select-tag/js/multi-select-tag.js"></script>

<style>

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #div_tudo {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    #div_formulario,
    #div_bilhete {
        border-radius: 10px;
        padding: 5px;
        border: 1px solid lightgrey;
        box-shadow: 8px 8px 8px 8px #B9B9B9;
        margin: 1% 1%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 90vh; /* Ajuste aqui para 90% da altura da viewport */
    }

    #div_formulario {
        flex: 3;
    }

    #div_bilhete {
        flex: 1;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete,
    #corpo_formulario,
    #corpo_bilhete,
    #rodape_formulario,
    #rodape_bilhete {
        flex-shrink: 0;
        border-radius: 10px;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete,
    #rodape_formulario,
    #rodape_bilhete {
        background-color: #fff;
        padding: 5px;
        border-bottom: 1px solid lightgrey;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete {
        height: 8%;
        background-color: #1A5276;
        color: #ffffff;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, color 0.3s;
        text-shadow: 1px 1px 2px rgba(173, 216, 230, 0.7);
    }

    #corpo_formulario,
    #corpo_bilhete {
        /*border: 1px solid green;*/
        position: relative;
        background-color: #d9d5d5;
    }

    #corpo_formulario {
        height: 80%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        overflow-y: auto;
        padding-top: 0.3%;
        padding-left: 2%;
        padding-right: 0.3%;
        padding-bottom: 0.3%;
    }

    #div_tipo_aposta {
        width: 100%;
        padding: 5px;
    }

    #corpo_bilhete {
        height: 80%;
        margin-top: 1%;
        margin-bottom: 1.5%;
    }

    #rodape_formulario,
    #rodape_bilhete {
        position: relative;
        height: 10%;
    }

    #rodape_formulario {
        background-color: #1A5276;
        color: #ffffff;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, color 0.3s;
        text-shadow: 1px 1px 2px rgba(173, 216, 230, 0.7);
    }

    label {
        font-weight: bold;
    }

    #div_botao_salvar_bilhete {
        border-radius: 10px;
        margin: 0;
        width: 100%;
        height: 100%;
        text-shadow: 1px 1px 2px rgba(173, 216, 230, 0.7);
    }

    #botao_salvar_bilhete {
        font-weight: bold;
        font-size: 200%;
    }

    #div_formulario_aposta {
        /*background-color: orange;*/
        border: 1px solid white;
        width: 100%;
        min-height: 92%;
        border-radius: 10px;
    }
</style>

{% include 'estrutura.html' %}

<div id="div_tudo">
    <div id="div_formulario">
        <div id="cabecalho_formulario">
            <h1 align="center">Criar Aposta</h1>
        </div>

        <div id="corpo_formulario">
            <div class="row" id="div_tipo_aposta">
                <div class="col-4 mx-auto">
                    <div class="row align-items-center">
                        <label for="str_tipo" class="form-label col-auto">Tipo de Aposta</label>
                        <div class="col">
                            <select class="form-select" aria-label="Default select example" name="str_tipo" onchange="cria_opcao_aposta(this.value);" required>
                                <option value="">Selecione o Tipo de Aposta</option>
                                <option value="S">Aposta Simples</option>
                                <option value="M">Aposta Múltipla</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="div_formulario_aposta">
                {# <div class="col">
                    <h2 class="text-center">Selecione o Tipo de Aposta</h2>
                </div> #}
            </div>
        </div>

        <div id="rodape_formulario">
            <div class="row">
                <div class="col-2 mx-auto">
                    <label for="dat_data">Data</label>
                    <input id="dat_data" class="form-control" name="dat_data" type="date" required/>
                </div>

                <div class="col-2 mx-auto">
                    <label for="flo_valor_entrada">Valor da Aposta R$:</label>
                    <input type="number" class="form-control" id="flo_valor_entrada" step="0.01" name="flo_valor_entrada" value="0.00" required>
                </div>

                <div class="col-2 mx-auto">
                    <label for="flo_odd_total">Odd Total:</label>
                    <input type="number" class="form-control" id="flo_odd_total" step="0.01" name="flo_odd_total" value="0.00" readonly="readonly">
                </div>

                <div class="col-2 mx-auto">
                    <label for="flo_valor_potencial">Ganhos Potenciais R$:</label>
                    <input type="number" class="form-control" id="flo_valor_potencial" step="0.01" name="flo_valor_potencial" value="0.00" readonly="readonly">
                </div>
            </div>
        </div>
    </div>

    <div id="div_bilhete">
        <div id="cabecalho_bilhete">
            <h1 align="center">Bilhete</h1>
            <hr>
        </div>

        <div id="corpo_bilhete">
        </div>

        <div id="rodape_bilhete">
            <div id="div_botao_salvar_bilhete" class="d-grid mx-auto">
                <button type="submit" id="botao_salvar_bilhete" class="btn btn-success">Salvar Bilhete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        // Auto-preenchimento do campo "DATA", ao carregar a página.
        $('#dat_data').val(new Date().toISOString().slice(0,10));
    });

    function cria_opcao_aposta(tipo) {
        if ( tipo == 'S' ) {
            cria_formulario_aposta_simples();
        } else if ( tipo == 'M' ) {
            cria_formulario_aposta_multipla();
        } else {
            $('#div_formulario_aposta').empty();
        }
    }

    function cria_formulario_aposta_simples() {
        $.ajax({
            url: '?p=apostas&op=cria_formulario_aposta_simples',
            dataType: 'html',
            success: function(formulario_aposta) {
                $("#div_formulario_aposta").html(formulario_aposta);
            }
        });
    }

    function cria_formulario_aposta_multipla() {
        console.log('Formulário de aposta múltipla');
    }
</script>