<link rel="stylesheet" type="text/css" href="vendor/virtual_select/virtual-select.min.css"></link>
<script src="vendor/virtual_select/virtual-select.min.js"></script>
<script src="vendor/jquery/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="vendor/multi-select-tag/css/multi-select-tag.css">
<script src="vendor/multi-select-tag/js/multi-select-tag.js"></script>

<style>

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #div_tudo {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    #div_formulario,
    #div_bilhete {
        border-radius: 10px;
        padding: 5px;
        border: 1px solid lightgrey;
        box-shadow: 8px 8px 8px 8px #B9B9B9;
        margin: 1% 1%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 90vh; /* Ajuste aqui para 90% da altura da viewport */
        background-color: #e0ecf2;
    }

    #div_formulario {
        flex: 3;
    }

    #div_bilhete {
        flex: 1;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete,
    #corpo_formulario,
    #corpo_bilhete,
    #rodape_formulario,
    #rodape_bilhete {
        flex-shrink: 0;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete,
    #rodape_formulario,
    #rodape_bilhete {
        text-align: center;
        background-color: #fff;
        padding: 5px;
        border-bottom: 1px solid lightgrey;
    }

    #cabecalho_formulario,
    #cabecalho_bilhete {
        height: 10%;
    }

    #corpo_formulario,
    #corpo_bilhete {
        border: 1px solid green;
        position: relative;
        height: 80%;
    }

    #rodape_formulario,
    #rodape_bilhete {
        border: 1px solid red;
        position: relative;
        height: 10%;
    }

    label {
        font-weight: bold;
    }

</style>

<div id="div_tudo">
    <div id="div_formulario">
        <div id="cabecalho_formulario">
            <h2 align="center">Criar Aposta</h2>
            <hr>
        </div>

        <div id="corpo_formulario">
            <!-- Seu conteúdo do formulário aqui -->
        </div>

        <div id="rodape_formulario">
            <!-- Seu rodapé do formulário aqui -->
        </div>
    </div>

    <div id="div_bilhete">
        <div id="cabecalho_bilhete">
            <h2 align="center">Bilhete</h2>
            <hr>
        </div>

        <div id="corpo_bilhete">
            <!-- Seu conteúdo do bilhete aqui -->
        </div>

        <div id="rodape_bilhete">
            <!-- Seu rodapé do bilhete aqui -->
        </div>
    </div>
</div>